<?xml version="1.0" encoding="UTF-8" ?><phpunit bootstrap="./vendor/autoload.php" colors="true">    <testsuites>        <testsuite name="Design Patters Test">            <directory suffix="Test.php">Creational/*/Tests</directory>        </testsuite>    </testsuites>    <filter>        <backlist>            <directory>./vendor</directory>        </backlist>    </filter></phpunit>